<h1>Rocola
    <strong>YouTube</strong>
</h1>
<!--<form id="search" (ngSubmit)="youtube.search(query)">-->
<form id="search">
    <input id="query" name="q" type="text" placeholder="Search for a YouTube video">
    <!--<input id="submit" type="image" src="images/search.png" alt="Search">-->
</form>
<nav>
    <a id="play"></a>
</nav>

<div id="player"></div>

<!-- Results list 
<div id="results">
    <div class="video" data-ng-repeat="video in youtube.videos" data-ng-click="youtube.queueVideo(video)">
        <img class="video-image" data-ng-src="{{ video.snippet.thumbnails.default.url }}">
        <p class="video-title">{{ video.snippet.title }}</p>
        <p class="video-author">{{ video.snippet.channelTitle }}</p>
        <p class="video-description">{{ video.snippet.description }}</p>
    </div>
</div>
-->

<!-- Temporal -->
<h1>Temporal Form</h1>
<form name="saveForm" (ngSubmit)="save()">
    <input type="text" name="id" [(ngModel)]="video.id">
    <input type="text" name="title" [(ngModel)]="video.title">
    <input type="text" name="description" [(ngModel)]="video.description">
    <div class="modal-footer">
        <button type="submit" class="btn">
            <span class="fa"></span>&nbsp;
            <span>Guardar</span>
        </button>
    </div>
</form>

<!-- Playlist -->
<div id="playlist">
    <p id="current">TITULO DEL VIDEO EN REPRODUCCION</p>
    <ol>
        <li *ngFor="let video of videos ;trackBy: trackId">
            <p class="item-title">{{video.id}}</p>
            <p class="item-title">{{video.title}}</p>
            <p class="item-title">{{video.description}}</p>
        </li>
    </ol>
</div>