<div class="row">
  <div class="col-md-6">
    <form data-ng-submit="youtube.search(query)">
      <input type="text" class="form-control search-bar" placeholder="Buscar videos" data-ng-model="query">
      <input id="submit" type="image" src="images/search.png" alt="Buscar">
    </form>
  </div>
</div>

<div class="row">
  <!-- Lista de resultados -->
  <div class="col-md-6 list-scroll">
    <div class="row list-video" ng-repeat="video in youtube.videos">
      <div class="col-md-6">
        <a href="#" data-toggle="tooltip" title="{{video.snippet.description}}">
          <img class="img-rounded" ng-src="{{video.snippet.thumbnails.default.url}}" alt="{{video.snippet.title}}">
        </a>
      </div>
      <div class="col-md-6">
        <h4 class="video-title">{{video.snippet.title}}</h4>
        <p class="video-channel">{{video.snippet.channelTitle}}</p>
        <p>{{video.snippet.contentDetails.duration}}</p>
      </div>
      <button class="video-btn" ng-click="youtube.queueVideo(video)">+</button>
    </div>
  </div>


  <!-- Lista de reproducción -->
  <div class="col-md-6 list-scroll">
    <div class="row list-video" ng-repeat="video in youtube.playlist">
      <h4 class="video-title">{{video.snippet.title}}</h4>
    </div>
  </div>
</div>
