<header>
  <h1>Rocola<strong>YouTube</strong></h1>
  <form id="search" ng-submit="youtube.search(query)">
    <input id="query" name="q" type="text" placeholder="Search for a YouTube video" data-ng-model="query">
    <input id="submit" type="image" src="images/search.png" alt="Search">
  </form>
  <nav>
    <a id="play" >{{ youtube.playerState }}</a>
  </nav>
</header>

<div id="player"></div>

<!-- Results list -->
<div id="results">
  <div class="video" data-ng-repeat="video in youtube.videos" data-ng-click="youtube.queueVideo(video)">
    <img class="video-image" data-ng-src="{{ video.snippet.thumbnails.default.url }}">
    <p class="video-title">{{ video.snippet.title }}</p>
    <p class="video-author">{{ video.snippet.channelTitle }}</p>
    <p class="video-description">{{ video.snippet.description }}</p>
  </div>
</div>

<!-- Playlist -->
<div id="playlist">
  <p id="current">{{ youtube.player.j.videoData.title }}</p>
  <ol id="upcoming" data-ng-show="youtube.playlist">
    <li data-ng-repeat="video in youtube.playlist">
      <p class="item-title">{{video.snippet.title}}</p>
    </li>
  </ol>
</div>
