<form>
  <input ng-model="query">
  <button type="submit" ng-click="youtube.search(query)">Buscar</button>
</form>

<!-- Lista de resultados -->
<h2>Resultados</h2>
<ul>
  <li ng-repeat="video in youtube.videos">
  <h4>{{video.snippet.title}}</h4>
  <img ng-src="{{video.snippet.thumbnails.default.url}}">
  <button ng-click="youtube.queueVideo(video)">+</button>
  </li>
</ul>

<!-- Lista de reproducción -->
<h2>Lista de reproducción</h2>
<ul>
  <li ng-repeat="video in youtube.playlist">
    <h4>{{video.snippet.title}}</h4>
    <img ng-src="{{video.snippet.thumbnails.default.url}}">
  </li>
</ul>
